
// For more help, browse the DeviceTree documentation at https: //docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https: //nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html

/ {
	km {
		//  compatible = "gpio-keys";
		compatible = "gpio-km";
		col0: column_0 {
			// gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; // Left
			gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; // Right
			label = "Column 0";
		};
		col1: column_1 {
			// gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			gpios = <&gpio1 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Column 1";
		};
		col2: column_2 {
			// gpios = <&gpio1 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Column 2";
		};
		col3: column_3 {
			// gpios = <&gpio1 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			gpios = <&gpio0 30 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Column 3";
		};
		col4: column_4 {
			// gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			gpios = <&gpio0 31 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Column 4";
		};
		col5: column_5 {
			// gpios = <&gpio0 28 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			gpios = <&gpio0 29 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Column 5";
		};
		col6: column_6 {
			// gpios = <&gpio1 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			gpios = <&gpio0 26 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Column 6";
		};
		col7: column_7 {
			// gpios = <&gpio0 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			gpios = <&gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Column 7";
		};

		row0: row_0 {
			// gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
			gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
			label = "Row 0";
		};
		row1: row_1 {
			// gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
			gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
			label = "Row 1";
		};
		row2: row_2 {
			// gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
			label = "Row 2";
		};
		row3: row_3 {
			// gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
			label = "Row 3";
		};
		row4: row_4 {
			// gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
			gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
			label = "Row 4";
		};
	};

	aliases {
		col0 = &col0;
		col1 = &col1;
		col2 = &col2;
		col3 = &col3;
		col4 = &col4;
		col5 = &col5;
		col6 = &col6;
		col7 = &col7;
		row0 = &row0;
		row1 = &row1;
		row2 = &row2;
		row3 = &row3;
		row4 = &row4;
	};

	chosen {
		// zephyr,console = &uart1;
	};
};

&pinctrl {
	spi1_default_alt: spi1_default_alt{
		group1{
			psels = <NRF_PSEL(SPIM_SCK, 0, 13)>,
			        <NRF_PSEL(SPIM_MOSI, 1, 9)>,
			        <NRF_PSEL(SPIM_MISO, 0, 5)>;
		};
	};
	spi1_sleep_alt: spi1_sleep_alt{
		group1{
			psels = <NRF_PSEL(SPIM_SCK, 0, 13)>,
			        <NRF_PSEL(SPIM_MOSI, 1, 9)>,
			        <NRF_PSEL(SPIM_MISO, 0, 5)>;
			low-power-enable;
		};
	};
};

&spi1 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi1_default_alt>;
	pinctrl-1 = <&spi1_sleep_alt>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;

	pmw3360@0 {
		compatible = "pixart,pmw3360";
		reg = <0>;
		irq-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
		spi-max-frequency = <600000>;
		label = "pmw3360";
	};
};

&i2c0 {
	status = "disabled";
};

&qspi {
	status = "disabled";
};

&pwm0 {
	status = "disabled";
};

&spi3 {
	status = "disabled";
};

&uart0_default {
	group1 {
		psels = <NRF_PSEL(UART_TX, 0, 6)>;
	};
};

&uart0_sleep {
	group1 {
		psels = <NRF_PSEL(UART_TX, 0, 6)>,
		        <NRF_PSEL(UART_RX, 0, 8)>,
		        <NRF_PSEL(UART_CTS, 0, 7)>;
	};
};

// &led0 {
	//   /delete-property/ gpios;
// };
